@model List<DepartmentAllViewModel>

@{
    ViewData["Title"] = "Department All";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold">Department <span class="text-info">All</span></h6>
    </div>
    <div class="card-body">
        @if (@Model.Count != 0)
        {
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                        </div>
                        <div class="col-sm-12 col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" role="grid" aria-describedby="dataTable_info" style="width: 100%;" width="100%" cellspacing="0">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 100px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Name</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 260px;" aria-label="Description: activate to sort column ascending">Description</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 120px;" aria-label="Hospital: activate to sort column ascending">Hospital</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 20px;" aria-label="Patients: activate to sort column ascending">Patients</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 20px;" aria-label="Doctors: activate to sort column ascending">Doctors</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 20px;" aria-label="Rooms: activate to sort column ascending">Rooms</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th rowspan="1" colspan="1">Name</th>
                                        <th rowspan="1" colspan="1">Description</th>
                                        <th rowspan="1" colspan="1">Hospital</th>
                                        <th rowspan="1" colspan="1">Patients</th>
                                        <th rowspan="1" colspan="1">Doctors</th>
                                        <th rowspan="1" colspan="1">Rooms</th>


                                    </tr>
                                </tfoot>
                                <tbody>
                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                        <tr role="row" class="@(i % 2 != 0 ? "even" : "odd")">
                                            <td class="sorting_1">
                                                <a class="text-info" href="/Department/Details/@Model[i].Id">
                                                    @Model[i].Name
                                                </a>
                                            </td>
                                            <td>@Model[i].Description</td>
                                            <td>@Model[i].HospitalName</td>
                                            <td>@Model[i].Patients.Count</td>
                                            <td>@Model[i].Doctors.Count</td>
                                            <td>@Model[i].Rooms.Count</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <h4>You have no Departments in your Hospital.</h4>
        }
    </div>
</div>
